
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
  height: 55vh;
}

.carousel::-webkit-scrollbar {
  height: 8px;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.item {
    display: flex;
    flex-direction: column;
    flex: 0 0 260px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 50vh;
    box-shadow: 0 4px 12px rgb(224, 220, 220);
}

.item img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.item:hover img {
  transform: scale(1.05);
}

div p{
    margin:10px;
    text-align: center;
    color: black;
}